{% extends '_template.html.twig' %}

{% block aboutPage %} current_page {% endblock %}

{% block main %}

    <div class = "column_container">

        <section class ="left_side">

            <h3> Early years: </h3>

            <section class = "photograph">
                <img src="images/band.jpg" alt= "Picture of the Band">
            </section>

            <p>
            <li> Biffy Clyro are a Scottish rock band that formed in Kilmarnock, East Ayrshire. The years that the band has been active are from 1995 to Present day. </li>
            <br>
            <li> The band is composed of three members:</li>
            <br>
            <dt> <dd> <li>Simon Neil (guitar and lead vocals), James Johnston (bass and vocals) and Ben Johnston (drums and vocals).</li> </dt> </dd>
            <br>
            <li> Currently signed to 14<sup>th</sup> Floor Records, they have released seven studio albums, four of which reached the top five in the UK Albums Chart.</li>
            <dt><dd>
                <li>They were the albums: <q>Puzzle</q>,Revolutions</q>, <q>Opposites</q> and <q>Ellipsis </q>.</li>
                <li>Their sixth studio album, Opposites, they claimed their first UK number-one album. </li>
            </dd></dt>
            <br>
            <li>They experienced a following significant growth in 2007 with the release of their fourth, <q>Puzzle</q>. After creating more mainstream songs with simpler rhythms and distancing themselves from the more unusual dissonant style that was present in their previous three albums.</li>
            <br>
            <li><q>Puzzle</q> peaked at number 2 on the official UK album charts on June 16<sup>th</sup> 2007.</li>
            <dt><dd><li> The album went Gold in the UK, selling over 100,000 units, and later in 2012 went Platinum in the UK, having sold over 300,000 copies.</li></dd></dt>
            <br>
            <li>As of 2016, in total, the band have spent 155 weeks in the top seventy-five of the UK Album Charts, with two of those weeks being at number one and seventy weeks within the main top forty of the albums charts. The band's singles have spent a total of seventy-nine weeks in the UK Singles Charts, with six weeks in the top ten and forty-two in the top forty.</li>

            </p>

            <h3> Awards / Achievements: </h3>

            <section class = "photograph" style="float: left">
                <img src="images/group_shoot.jpg" alt= "Group picture of the Band">

            </section>

            <p>
            <li>When the album <q>Only Revolutions</q> in 2009 was released it reached No. 3 in the UK chart and went gold within days of its release in 2009. Then going platinum a year later in 2010. </li>
            <br>
            <li> Further achieving double-platinum status in August 2011, and receiving a Mercury Music Prize nomination.</li>
            <br>
            <li>  In 2011 the band was nominated for the Brit Awards for Best British Group. At the 2013 NME Awards, they received the award for Best British Band.</li>
            <br>
            <li> On August 25<sup>th</sup> 2013 Biffy Clyro headlined the main stage at Leeds & Reading Festival. Based on their album and single certifications, they have sold in excess of 1,240,000 albums and 400,000 singles in the UK alone.</li>
            </p>
        </section>

    </div>

{% endblock %}