{% extends '_template.html.twig' %}

{% if username == 'admin' %}

    {% block adminAccountsPage %} current_page {% endblock %}

{% endif %}

{% if username == 'staff' %}

    {% block staffAccountsPage %} current_page {% endblock %}

{% endif %}

{% block main %}

    <div class = "column_container">

        <section class = "top">

            <h4>Updated product is :</h4>

        </section>

    </div>

    <div class = "column_container">

        <section class = "top-Left">

            <p>
                The <strong style="color: red"> NEW </strong> details <br> are as follows:<br>
            </p>
        </section>

        <section class="top-Right">

            <p>
                I.D :<q>{{ id }}</q>.<br>
                Image : <q>{{ image }}</q><BR>
                Description : <q>{{ description }}</q>.<br>
                Price : <q>€{{price }}</q><br>
            </p>

        </section>

    </div>

    <div class = "column_container">

        <section class = "bottom">

            <p>
                <a style="color: coral" href="/index.php?action=showProducts">Back to Products Page</a>
            </p>

        </section>

    </div>

{% endblock %}