{% extends '_template.html.twig' %}

{% block galleryPage %} current_page {% endblock %}

{% block main %}

	<div class="column_container">

		<section class = "photo">
			<p> A photo of Simon Neil, the guitarist and lead vocalist.</p>
			<img src="images/Simon_Neil.jpg" alt="Band member Simon Neil">
		</section>

		<section class = "photo">

			<p>A photo of Ben Johnston, the bassist and vocalist.</p>
			<img src="images/James_Johnston.jpg" alt="Band member James Johnston">
		</section>

		<section class = "photo">

			<p>A photo of Ben Johnston, the bassist and vocalist.</p>
			<img src="images/Ben_Johnston.jpg" alt="Band member Ben Johnston">
		</section>
	</div>

	<div class="column_container">
		<section class = "photo">
			<p> The album Cover of <q>Only Revolutions</q> that the band released in 2009.</p>
			<img src="images/albumCover_Only_Revolutions.jpg" alt="The album cover of Only Revolutions">
		</section>

		<section class = "photo">
			<p> The album Cover of <q>Puzzle</q> that the band released in 2002 </p>
			<img src="images/albumCover_Puzzle.jpg" alt="The album cover of Puzzle">
		</section>

		<section class = "photo">
			<p> The album Cover of <q>Blackened Sky</q> that the band released in 2002.</p>
			<img src="images/albumCover_Blackened_Sky.jpg" alt="The album cover of Blackened Sky">
		</section>

	</div>

{% endblock %}