{% extends '_template.html.twig' %}

{% block homePage %} current_page {% endblock %}

{% block main %}

    <div class = "column_container">

        <section class = "left_side">

            <h3>
                This is a project created for 2nd Year Semester One,<br> Module: Web Development Server-Side.
                <br>
                <br>
                This is a website for the Scottish rock band: Biffy Clyro.
                <br>
                <br>
            </h3>

            <section class="photo" style = "border:none;">
                <img src="/images/welcome.png" alt= "Welcome gif">
            </section>

            <br>

        </section>

    </div>

{% endblock %}