{% extends '_template.html.twig' %}

{% block homePage %} current_page {% endblock %}

{% block main %}
    <div class = "column_container">

        <section class ="top">

            <h2>Login Failed</h2>
        </section>

    </div>

    <div class = "column_container">

        <section class ="left_side">

            <p>
                Your Username and or password was incorrect;<br>
            <br>
                Try again.
            </p>

        </section>

    </div>


{% endblock %}