{% extends '_template.html.twig' %}

{% block musicPage %} current_page {% endblock %}

{% block main %}

    <div class = "column_container">

        <section class = "left_side">

            <section class = "photograph">
                <img src="images/albumCover_Only_Revolutions.jpg" alt="The album cover of Only Revolutions">
            </section>

            <h3>The songs from the album: <q>Only Revolutions</q> .</h3>

            <ol class ="center">
                <li><q>The Captain</q></li>
                <li><q>The Golden Rule</q></li>
                <li><q>Bubbles</q></li>
                <li><q>God & Satan</q></li>
                <li><q>Born On A horse</q></li>
                <li><q>Mountains</q></li>
                <li><q>Shock Shock</q></li>
                <li><q>Many of Horror</q></li>
                <li><q>Boooom, Blast & Ruin</q></li>
                <li><q>Cloud Of Stink</q></li>
                <li><q>Know Your Quarry</q></li>
                <li><q>Whorses</q></li>
            </ol>

            <section class = "photograph">
                <img src="images/albumCover_Puzzle.jpg" alt="The album cover of Puzzle" height = 290>
            </section>

            <h3>The songs from the album: <q>Puzzle</q> .</h3>

            <ol class ="center">
                <li><q>The Captain</q></li>
                <li><q>Saturday Superhouse</q></li>
                <li><q>Who's Got a Match?</q></li>
                <li><q>As Dust Dances   /   2/15ths</q></li>
                <li><q>A Whole Child Ago</q></li>
                <li><q>The Conversation is...</q></li>
                <li><q>Now I'M Everyone</q></li>
                <li><q>Semi Mental   /   2/15ths</q></li>
                <li><q>Love Has a Diameter</q></li>
                <li><q>Get Fucked</q></li>
                <li><q>Folding Stars</q></li>
                <li><q>9/15ths</q></li>
                <li><q>Machines</q></li>
                <li><q>Drop It</q></li>
            </ol>

            <section class = "photograph">
                <img src="images/albumCover_Blackened_Sky.jpg" alt="The album cover of Blackened Sky">
            </section>

            <h3>The songs from the album: <q>Blackened Sky</q> .</h3>

            <ol class ="center">
                <li><q>Joy.Discover.Intention</q></li>
                <li><q>27</q></li>
                <li><q>Justboy</q></li>
                <li><q>Kill the Old, Torture Their Young</q></li>
                <li><q>The Go-Slow</q></li>
                <li><q>Christopher's River.</q></li>
                <li><q>Convex, Concave</q></li>
                <li><q>57</q></li>
                <li><q>Hero Management</q></li>
                <li><q>Solution Devices</q></li>
                <li><q>Stress on the Sky</q></li>
                <li><q>Scary Mary</q></li>
            </ol>

        </section>

    </div>

{% endblock %}