{% extends '_template.html.twig' %}

{% block socialPage %} current_page {% endblock %}

{% block main %}

    <div class="column_container">

        <section class = "left_side">

            <h3>The Band's Website:</h3>

            To visit their website <a href="http://ellipsis.biffyclyro.com">click here.</a>

            <h4>Contains:</h4>

            <li>Band Update</li>
            <br>
            <li>Shows</li>
            <br>
            <li>Music</li>
            <br>
            <li>Videos</li>
            <br>
            <li>Map</li>
            <br>
            <li>Fan Feed</li>
            <br>
            <li>Store</li>
            <br>
            <li>Team Biffy</li>

        </section>

        <section class="middle">

            <h3>The bands Twitter:</h3>

            Click on the picture below to visit their Twitter page, <em>alternatively</em> <a href="https://twitter.com/BiffyClyro?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">click here.</a>

            <br><br>

            <a href="https://twitter.com/BiffyClyro?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                <section class="photo" style = "border:none;">
                    <img src="images/band_social_profile.jpg" alt = "Bands Twitter Picture">
                </section>
            </a>

            <h4>Contains:</h4>

            <li>Handle: @BiffyClyro</li>
            <br>
            <li>Tweets: 2,757</li>
            <br>
            <li>Following: 67</li>
            <br>
            <li>Followers: 278 Thousand</li>
            <br>
            <li>Likes: 1,065</li>
            <br>
            </ul>

        </section>

        <section class="right">

            <h3>The bands Instagram:</h3>

            Click on the picture below to visit their Instagram page, <em>alternatively</em> <a href=https://www.instagram.com/biffy_clyro/?hl=en>click here.</a>

            <br><br>

            <a href=https://www.instagram.com/biffy_clyro/?hl=en>
                <section class="photo" style = "border:none;">
                    <img src="images/band_social_profile.jpg" alt = "Bands Instagram Picture">
                </section>
            </a>

            <h4>Contains:</h4>

            <li>Handle: @biffy_clyro</li>
            <br>
            <li>Posts: 562</li>
            <br>
            <li>Followers: 143 Thousand</li>
            <br>
            <li>Following: 7</li>
            </ul>
        </section>

    </div>

{% endblock %}