{% extends '_template.html.twig' %}

{% block accountsPage %} current_page {% endblock %}

{% block main %}

    <div class = "column_container">

        <section class = "middle">

            <h3>
                <strong>Your account was created.</strong>
                <br>
                <hr>
                <br>
                Your purchases are being processed.
            </h3>

            <input type="button" value="Home" onclick="location.href='index.php'">

        </section>

    </div>

{% endblock %}