{% extends '_template.html.twig' %}

{% if username == 'admin' %}

    {% block adminAccountsPage %} current_page {% endblock %}

{% endif %}

{% if username == 'staff' %}

    {% block staffAccountsPage %} current_page {% endblock %}

{% endif %}

{% if username == '' %}

    {% block accountPage %} current_page {% endblock %}

{% endif %}

{% block main %}

    <div class = "column_container">

        <section class = "middle">

            <h3>Visitor details:</h3>

            <p>
                Id is: {{ visitor.id }} <br>
                <br>
                Name is:{{ visitor.aName }} <br>
                <br>
                Email is: {{ visitor.aEmail }} <br>
                <br>
                Password is: {{ visitor.aPassword }} <br>
                <br>

                {# Shows the option selected  #}
                {% if(visitor.emailNotify == 'Yes') %}
                    Receive Emails: YES<br>

                {% else%}
                    Receive Emails: xNO<br>
                {% endif  %}
                <br>
                <br>
                {#  Will go back a page #}
                <input type="button" onclick="history.go(-1)" value="Go Back">
            </p>

        </section>

    </div>

{% endblock %}